TXT/workshop2-python.txt
TXT/workshop.txt
TXT/Ödev3.txt
TXT/Ödev2.txt
TXT/Ödev.txt
TXT/IMG_3042.jpg
TXT/bonus-python.txt
TXT/Değişiklik.txt
__pycache__/teachers.cpython-312.pyc
__pycache__/students.cpython-312.pyc
__pycache__/main.cpython-312.pyc
loops.py
index.py
functions.py
deneme.py
decisionStructures.py
classes2.py
classes.py
Selenium     Ödev-1.txt
